Repository hmcts/bulk-scan-payment-processor, pull requests merged in 2019-11, with the labels that each got.

#117 Update charts for func tests
  charts/bulk-scan-payment-processor/values.preview.template.yaml
Labels: ns:bulk-scan-payment-processor-pr-117

#122 Fix configuration
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-payment-processor-pr-122

#123 Bump chart version to 0.1.4
  charts/bulk-scan-payment-processor/Chart.yaml
Labels: ns:bulk-scan-payment-processor-pr-123

#125 Fix queue connection string settings
  charts/bulk-scan-payment-processor/Chart.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-payment-processor-pr-125

#124 Clean up payhub error decoder
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientPutPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientErrorDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
Labels: ns:bulk-scan-payment-processor-pr-124

#128 Bump servicebus 1.2.15 -> 1.2.18
  build.gradle
Labels: ns:bulk-scan-payment-processor-pr-128

#136 fix image url
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.yaml
Labels: ns:bulk-scan-payment-processor-pr-136

#111 Introduced func tests
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/FunctionalQueueConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/PaymentForExceptionRecordTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/helper/CaseSearcher.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/helper/ExceptionRecordCreator.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/helper/PaymentsMessageSender.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/model/CreatePaymentsCommand.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/model/PaymentData.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/IntegrationContextInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/IntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/QueueClientsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/health/PayHubHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/health/QueueHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/model/PaymentInfo.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/task/PaymentMessageProcessTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
Labels: ns:bulk-scan-payment-processor-pr-111

#138 Set PAYMENTS_QUEUE_WRITE_CONNECTION_STRING to fix func test in AAT
  Jenkinsfile_CNP
Labels: ns:bulk-scan-payment-processor-pr-138

#141 get ready for helm version upgrade
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/requirements.yaml
  charts/bulk-scan-payment-processor/values.preview.template.yaml
  charts/bulk-scan-payment-processor/values.yaml
Labels: ns:bulk-scan-payment-processor-pr-141
