Repository hmcts/bulk-scan-payment-processor, pull requests merged in 2019-09, with the labels that each got.

#6 Switch DNS to point to AKS
  Jenkinsfile_CNP
Labels: ns:bulk-scan-payment-processor-pr-6

#7 Added basic main.tf file to add infra foler
  infrastructure/main.tf
Labels: ns:bulk-scan-payment-processor-pr-7

#8 Add ingress host for external access
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.yaml
Labels: ns:bulk-scan-payment-processor-pr-8

#13 Bump jackson-databind 2.9.9.3 -> 2.9.10
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-payment-processor-pr-13

#14 Bps 765 site config
  build.gradle
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan.payment.processor/config/SiteConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-payment-processor-pr-14

#18 chart fix to use secrets
  charts/bulk-scan-payment-processor/values.preview.template.yaml
  charts/bulk-scan-payment-processor/values.yaml
Labels: ns:bulk-scan-payment-processor-pr-18

#19 fix package name
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/SwaggerPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/SiteConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/controllers/RootController.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/DummySmokeTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/controllers/RootControllerTest.java
Labels: ns:bulk-scan-payment-processor-pr-19

#20 add queue configurations
  build.gradle
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/requirements.yaml
  charts/bulk-scan-payment-processor/values.preview.template.yaml
  charts/bulk-scan-payment-processor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/SwaggerPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/QueueClientsConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-payment-processor-pr-20

#22 Service bus should be disabled by default
  charts/bulk-scan-payment-processor/values.yaml
Labels: ns:bulk-scan-payment-processor-pr-22

#26 Update README.md
  README.md
Labels: ns:bulk-scan-payment-processor-pr-26

#21 add model and exceptions
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/exceptions/InvalidMessageException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/exceptions/MessageProcessingException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/MessageProcessingResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/MessageProcessingResultType.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/model/PaymentInfo.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/model/PaymentMessage.java
Labels: ns:bulk-scan-payment-processor-pr-21
