Repository hmcts/bulk-scan-payment-processor, pull requests merged in 2019-10, with the labels that each got.

#31 namespace update to bsp
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.yaml
Labels: ns:bulk-scan-payment-processor-pr-31

#32 Gradle changes
  build.gradle
Labels: ns:bulk-scan-payment-processor-pr-32

#29 config changes for pay-hub call
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.preview.template.yaml
  charts/bulk-scan-payment-processor/values.yaml
  src/main/resources/application.yaml
Labels: ns:bulk-scan-payment-processor-pr-29

#35 add error decoder for feign client and error decoder tests
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientException.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientErrorDecoderTest.java
Labels: ns:bulk-scan-payment-processor-pr-35

#38 Integration test setting and wiremock
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/IntegrationContextInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/SwaggerPublisher.java
  src/integrationTest/resources/application-integration.yaml
Labels: ns:bulk-scan-payment-processor-pr-38

#37 Bps 765 copy s2s secret to bulkscan vault
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:bulk-scan-payment-processor-pr-37

#39 Feign client and tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/request/PaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/response/PaymentResult.java
Labels: ns:bulk-scan-payment-processor-pr-39

#33 Bps 765 Add S2S config
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.preview.template.yaml
  charts/bulk-scan-payment-processor/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-payment-processor-pr-33

#44 Fix master pipeline
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.aat.template.yaml
  charts/bulk-scan-payment-processor/values.yaml
Labels: ns:bulk-scan-payment-processor-pr-44

#41 Add Service Auth header to Payhub client
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/AuthConfig.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-payment-processor-pr-41

#43 remove static payment parser and add test cases for parser
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/exceptions/InvalidMessageException.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/data/producer/SamplePaymentMessageData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParserTest.java
Labels: ns:bulk-scan-payment-processor-pr-43

#46 Add pobox to siteidmap
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/SiteConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/exception/SiteConfigurationException.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/SiteConfigurationTest.java
Labels: ns:bulk-scan-payment-processor-pr-46

#45 2 process queue
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/model/PaymentInfo.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
Labels: ns:bulk-scan-payment-processor-pr-45

#47 BPS 765 Add payment message handler
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/exception/SiteNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapperTest.java
Labels: ns:bulk-scan-payment-processor-pr-47

#49 Add schedular
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/task/PaymentMessageProcessTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/task/PaymentMessageProcessTaskTest.java
Labels: ns:bulk-scan-payment-processor-pr-49

#53 test case improvement
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/util/TestUtil.java
  src/integrationTest/resources/testdata/post-payments/payment-request.json
  src/integrationTest/resources/testdata/post-payments/payment-result-1.json
  src/integrationTest/resources/testdata/post-payments/payment-result-2.json
Labels: ns:bulk-scan-payment-processor-pr-53

#54 rename the exception name
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/exceptions/MessageProcessingException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/exceptions/UnknownMessageProcessingResultException.java
Labels: ns:bulk-scan-payment-processor-pr-54

#58 change field name in payment message to match with orchestrator and add log
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/model/PaymentMessage.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/data/producer/SamplePaymentMessageData.java
Labels: ns:bulk-scan-payment-processor-pr-58

#55 Extend payment queue message with service name
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/model/PaymentMessage.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/data/producer/SamplePaymentMessageData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapperTest.java
Labels: ns:bulk-scan-payment-processor-pr-55

#56 Payhub client add new call
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientPutPaymentTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/request/CaseReferenceRequest.java
Labels: ns:bulk-scan-payment-processor-pr-56

#59 refactor logs
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
Labels: ns:bulk-scan-payment-processor-pr-59

#60 rename pay-hub classes and client methods
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/PayHubClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/request/CreatePaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/payhub/response/CreatePaymentResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapperTest.java
Labels: ns:bulk-scan-payment-processor-pr-60

#61 Require message label
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
Labels: ns:bulk-scan-payment-processor-pr-61

#63 Update owasp suppressions
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-payment-processor-pr-63

#64 Add updatepayment handler
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/model/UpdatePaymentMessage.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
Labels: ns:bulk-scan-payment-processor-pr-64

#66 Add update case ref parser
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParser.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParserTest.java
Labels: ns:bulk-scan-payment-processor-pr-66

#68 rename PaymentMessage class to CreatePaymentMessage
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/model/CreatePaymentMessage.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/data/producer/SamplePaymentMessageData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapperTest.java
Labels: ns:bulk-scan-payment-processor-pr-68

#69 Fix nightly pipeline
  Jenkinsfile_nightly
Labels: ns:bulk-scan-payment-processor-pr-69

#74 enable staging to log azure
  charts/bulk-scan-payment-processor/values.aat.template.yaml
Labels: ns:bulk-scan-payment-processor-pr-74

#80 Remove not needed dependency
  build.gradle
Labels: ns:bulk-scan-payment-processor-pr-80

#81 Log fix for preview
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/requirements.yaml
Labels: ns:bulk-scan-payment-processor-pr-81

#82 Update payment - process integration
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/data/producer/SamplePaymentMessageData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
Labels: ns:bulk-scan-payment-processor-pr-82

#88 use new base 1.4 java image to use default encoding utf-8
  Dockerfile
Labels: ns:bulk-scan-payment-processor-pr-88

#89 Prepare configuration necessary for talking to IDAM and CCD
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.preview.template.yaml
  charts/bulk-scan-payment-processor/values.yaml
  src/integrationTest/resources/application-integration.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-payment-processor-pr-89

#93 Remove service field updatepayment
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/model/UpdatePaymentMessage.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/data/producer/SamplePaymentMessageData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParserTest.java
Labels: ns:bulk-scan-payment-processor-pr-93

#92 Create a service that returns IDAM user's credentials based on jurisdiction
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/ccd/Credential.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/JurisdictionToUserMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/exception/NoUserConfiguredException.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/JurisdictionToUserMappingTest.java
Labels: ns:bulk-scan-payment-processor-pr-92

#94 Create tools for authenticating in CCD and IDAM
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/ccd/CcdAuthenticator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/ccd/CcdAuthenticatorFactory.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/ccd/CcdAuthenticatorFactoryTest.java
Labels: ns:bulk-scan-payment-processor-pr-94

#97 Stop PaymentMessageHandler from returning an unused result
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
Labels: ns:bulk-scan-payment-processor-pr-97

#98 log deadlettering as error
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
Labels: ns:bulk-scan-payment-processor-pr-98

#101 BPS-842 Add smoke tests config
  Jenkinsfile_CNP
  infrastructure/main.tf
  src/smokeTest/resources/application.conf
Labels: ns:bulk-scan-payment-processor-pr-101

#102 Clean up log messages
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
Labels: ns:bulk-scan-payment-processor-pr-102

#106 Make configuration changes necessary for using CCD client
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.preview.template.yaml
  charts/bulk-scan-payment-processor/values.yaml
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/Application.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-payment-processor-pr-106

#96 Create a high-level CCD client
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/ccd/CcdClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/ccd/client/CompleteAwaitingDcnProcessingTest.java
Labels: ns:bulk-scan-payment-processor-pr-96

#103 Add smoke tests
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/health/PayHubHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/health/QueueHealthIndicator.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/PaymentProcessorHealthTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/health/PayHubHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/health/QueueHealthIndicatorTest.java
Labels: ns:bulk-scan-payment-processor-pr-103

#109 Remove unused smoke tests config
  src/smokeTest/resources/application.conf
Labels: ns:bulk-scan-payment-processor-pr-109

#107 Update exception record in CCD after payment creation
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
Labels: ns:bulk-scan-payment-processor-pr-107

#112 Update CCD only for exception records
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/handler/PaymentMessageHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
Labels: ns:bulk-scan-payment-processor-pr-112
