Repository hmcts/bulk-scan-payment-processor, pull requests merged in 2020-02, with the labels that each got.

#173 Cover extra branches introduced in #170
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-173

#174 Upgrade checkstyle
  build.gradle
  config/checkstyle/checkstyle.xml
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/SiteConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParserTest.java
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-174

#175 Remove obsolete build flag
  Jenkinsfile_CNP
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-175

#177 Remove redundant dependency management for tomcat
  build.gradle
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-177

#178 Remove deprecated usage of property in preview chart template
  charts/bulk-scan-payment-processor/values.preview.template.yaml
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-178
