Repository hmcts/bulk-scan-payment-processor, pull requests merged in 2020-01, with the labels that each got.

#157 Updated tomcat dependencies and added suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-payment-processor-pr-157

#167 Updated payment dcn used to 21 digits due to change in pay hub api
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/PaymentForExceptionRecordTest.java
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-167

#165 Configured BULKSCAN
  infrastructure/main.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-165

#171 Add missing secrets declarations
  charts/bulk-scan-payment-processor/Chart.yaml
  charts/bulk-scan-payment-processor/values.preview.template.yaml
  charts/bulk-scan-payment-processor/values.yaml
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-171

#172 add terraform version manager
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-172

#170 Add more info to log
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-170
