Repository hmcts/bulk-scan-payment-processor, pull requests merged in 2020-06, with the labels that each got.

#234 arrange suppress vulnerability and dependbot dependency upgrades
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-234

#238 add health separation to appinsight
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/TracingConfiguration.java
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-238

#237 Update the log message in the consume payments queue scheduled job
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/task/PaymentMessageProcessTask.java
Labels: ns:bsp, rel:bulk-scan-payment-processor-pr-237
