Repository hmcts/bulk-scan-payment-processor, pull requests merged in 2021-04, with the labels that each got.

#415 DTSBPS-451: Configuration changes
  charts/bulk-scan-payment-processor/values.preview.template.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/AsyncConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/RetryConfig.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-415

#417 DTSBPS-451: Adding processor client
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/processor/ProcessorClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/processor/ProcessorClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/processor/ProcessorClientTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-417

#418 DTSBPS-451: Integrating PaymentMessageProcessor with bulk scan proces…
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-418

#421 avoid vulnerability CVE-2021-21409
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-421

#422 DTSBPS-451: Disabling PaymentMessageProcessor call to bulk scan proce…
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-422

#423 DTSBPS-451: Enabling PaymentMessageProcessor call to bulk scan proces…
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/processor/BulkScanProcessorApiProxyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/processor/ProcessorClientTest.java
  src/integrationTest/resources/testdata.post-processor/payments_request.json
  src/integrationTest/resources/testdata.post-processor/payments_response.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/processor/BulkScanProcessorApiProxy.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/processor/response/PaymentStatusReponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/client/processor/ProcessorClientTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-423

#427 avoid vulnerability CVE-2021-29425
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-427

#430 DTSBPS-501 remove unnecessary spring-cloud-starter-netflix-hystrix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/Application.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-430
