Repository hmcts/bulk-scan-payment-processor, pull requests merged in 2021-09, with the labels that each got.

#508 Code smells
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/ccd/CcdClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/payment/processor/task/PaymentMessageProcessTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/ccd/CcdAuthenticatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/ccd/client/CompleteAwaitingDcnProcessingTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/JurisdictionToUserMappingTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/config/SiteConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/health/PayHubHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/PaymentMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentMessageParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/service/servicebus/PaymentRequestMapperTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-508

#509 Code smells
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/payment/processor/task/PaymentMessageProcessTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/payment/processor/task/PaymentMessageProcessTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-509

#511 DTSBPS-749 suppress vulnerability
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-511

#516 DTSBPS-755 - Bump versions.junit
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-516
