Repository hmcts/bulk-scan-payment-processor, pull requests merged in 2022-02, with the labels that each got.

#599 Fix CVE-2022-23181
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-599

#602 DTSBPS-867 bump-java-chart
  charts/bulk-scan-payment-processor/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-602

#610 bump-java-chart
  charts/bulk-scan-payment-processor/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-payment-processor-pr-610
